$color-primary:#fff;
$text-primary:#666666;
$icons-color:#ED2433;
$heading-color:#2c2c2c;
$background-color:#1D2228;

@import url(https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap);
