{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<!-- -----------------------*******------------------------ -->
<section class="abt">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wrapper">
                    <h2>Contact Us</h2>
                    <ol>
                        <li>Home <i class="fa fa-arrow-right"></i></li>
                        <li>Contact Us</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- -----------------------*******------------------------ -->
<section class="_pl_rt">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="_lo_we_ds">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                            <div class="_ol_we_as">
                                <ol>
                                    <li><img src="https://img.icons8.com/ultraviolet/24/000000/map-marker.png" alt=""></i>
                                        <h3>Location</h3>28 Okpanam Road  opposite Cold Stone Creamery,Asaba Delta State

                                    </li>
                                </ol>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                            <div class="_ol_we_as">
                                <ol>
                                    <li><img src="https://img.icons8.com/ultraviolet/24/000000/filled-message.png" alt="">
                                        <h3>Email</h3>merivaspot@gmail.com
                                    </li>
                                </ol>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                            <div class="_ol_we_as">
                                <ol>
                                    <li>
                                        <img src="https://img.icons8.com/office/24/000000/iphone.png" alt="">
                                        <h3>Phone</h3>0913 103 3248
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="my-pla">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading">
                    <h2>Get In <span>Touch</span></h2>
                </div>
            </div>
        </div>
        <div class="container ">
            <section id="register" class=" py-2">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class=" justify-content-center align-items-center">
                          <form action="" method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                              {{form | crispy}}
                              <input type="submit" class="btn btn-danger" value="Submit">
                          </form>
                        </div>
                      </div>
                  </div>
            </div>
        </section>
          </div>
    </div>
        
</div>
</section>
    
{% endblock  %}
    