{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- -----------------------*******------------------------ -->
<section class="abt">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wrapper">
                    <h2>Faq</h2>
                    <ol>
                        <li>Home<i class="flaticon-right-arrow-1"></i></li>
                        <li>Faq</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- -----------------------*******------------------------ -->
<section class="offer-01">
<div class="container-fluid faq-cont">
    <div class="container">
          
        <div class="row faq-ro">
            <div class="col-md-6 faq-det">
                <div id="accordion">
<div class="card">
<div class="card-header" id="headingOne">
<h5 class="mb-0">
  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
   <i class="flaticon-plus"></i>  How do we work?
  </button>
</h5>
</div>

<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
<div class="card-body">
  The Merivaspot Logistic Service is a courier/delivery firm that conveys parcels from one location to another safely and in the best conditions.
She welcomes orders from within Asaba, Onitsha, Port Harcourt and Ndoni as she allows users either Request a Quote or Place an Instant Delivery Order.
When an order is placed and received successfully by us, we dispatch a rider to the Pickup location who also drops off parcels too. Our services are quick, reliable and trust guaranteed.
</div>
</div>
</div>
<div class="card">
<div class="card-header" id="headingTwo">
<h5 class="mb-0">
  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
   <i class="flaticon-plus"></i> What does it cost to use our Logistic<br/> services?
  </button>
</h5>
</div>
<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
<div class="card-body">
  Costs for our Logistic and delivery services will vary based upon the quantity of the item, how quickly you need the item delivered and the distance from your pick up point and delivery point. Contact us or use our online request form for an accurate quote.
</div>
</div>
</div>
<div class="card">
<div class="card-header" id="headingThree">
<h5 class="mb-0">
  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
    <i class="flaticon-plus"></i> How quickly can you deliver my goods?
  </button>
</h5>
</div>
<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
<div class="card-body">
  Our rush courier and delivery services can vary in terms of delivery time. We offer a rush service where a rider will pick up and deliver your package direct with no stops in between; which is usually delivered in under 60 minutes.

Other delivery services we offer include a 3 hour delivery, a 5 hour delivery, and a same day delivery which would deliver your package before end of business day. Contact us for more details regarding the types of services we provide.
</div>
</div>
</div>
<div class="card">
<div class="card-header" id="headingFour">
<h5 class="mb-0">
  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
    <i class="flaticon-plus"></i> What hours do you open and<br> when do you make delivery?
  </button>
</h5>
</div>
<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
<div class="card-body">
  We understand that not every delivery is going to fall in between normal business hours so we are conveniently open 24/7 and can make a delivery at legal work hours.
</div>
</div>
</div>

<div class="card">
<div class="card-header" id="headingFive">
<h5 class="mb-0">
  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
    <i class="flaticon-plus"></i> How does your online delivery quote works?
  </button>
</h5>
</div>
<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
<div class="card-body">
  Simply fill out your name, phone number, email, pick up and delivery destination, and details of your delivery and we will get back to you with a quote within minutes.
</div>
</div>
</div>
</div>
            </div>
            <div class="col-md-6 faq-form">
                <div class="content">
                    <img src="{% static 'assets/images/banner/2.jpg' %}">
                   </div>
                  </div>
              </div>   
            </div>
            
        </div>
    </div>
</div>
</section>

    
{% endblock %}
    