{% load static %}
<!-- ============================********======================== -->
<footer>
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="wrapper">
                <img class="log" src="{% static 'assets/images/logo/logo.png' %}" alt="" style="width: 150px; height: 100px;">
                  
                  <p>Merivaspot Logistic is one of the best professional Logistic in Asaba, Delta State Nigeria. Offering Pick up & Delivery to her customers in Asaba, Onitsha, Port Harcourt, Ndoni and environs. It was founded in year 2000.</p>
                  
              </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="wrapper">
                  <h2>Usefull Links</h2>
                  <div class="content">
                      <ul>
                          <li><a href="{% url 'home' %}">Home</a></li>
                          <li><a href="{% url 'about' %}">About Us</a></li>
                          <li><a href="{% url 'faq' %}">Faq</a></li>
                          <li><a href="{% url 'tracking' %}">Tracking</a></li>
                          <li><a href="{% url 'contact' %}">Contact Us</a></li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="wrapper">
                  <h2> Opening Time</h2>
                  <div class="content">
                      <ul class="d-flex se">
                          <li><a>Monday</a>
                              <span>8 AM &nbsp;-&nbsp; 5 PM</span>
                          </li>
                          <li><a>Tuseday</a>
                              <span>8 AM &nbsp;-&nbsp; 5 PM</span>
                          </li>
                          <li><a>Wednesday</a>
                              <span>8 AM &nbsp;-&nbsp; 5 PM</span>
                          </li>
                          <li><a>Thursday</a>
                              <span>8 AM &nbsp;-&nbsp; 5 PM</span>
                          </li>
                          <li><a>Friday</a>
                              <span>8 AM &nbsp;-&nbsp; 5 PM</span>
                          </li>
                          <li><a>Saturday</a>
                              <span>8 AM &nbsp;-&nbsp; 5 PM</span>
                          </li>
                          <li><a>Sunday</a>
                              <span>8 AM &nbsp;-&nbsp; 5 PM</span>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
<div class="copy-right">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <p><script>document.write(new Date().getFullYear());</script> @ All Rights Reserved Designed and developed by<a href="http://patoski.herokuapp.com">Patoski</a></p>
          </div>
      </div>
  </div>
</div>