{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- -----------------------*******------------------------ -->
<section class="abt">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wrapper">
                    <h2>Track Your Parcel</h2>
                    <ol>
                        <li>Home <i class="fa fa-arrow-right"></i></li>
                        <li>Tracking</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- -----------------------*******------------------------ -->
<div class="container">
    <div class="container mt-5 mb-5">
        {% if pickups %}

        <div class="row">
            <div class="col-md-6">
                
                {% for pickup in pickups %}

                <h4>Tracking ID</h4> <p>{{pickup.uuid}}</p>
                <h4>Sender name</h4> <p>{{pickup.sendername}}</p>
                <h4>Reciever name</h4> <p>{{pickup.recivername}}</p>
                <h4>Sender email</h4> <p>{{pickup.senderemail}}</p>
                <h4>Reciever email</h4> <p>{{pickup.reciveremail}}</p>
                <h4>Sender phone</h4> <p>{{pickup.senderphone}}</p>
                <h4>Reciever phone</h4> <p>{{pickup.reciverphone}}</p>
            </div>
            <div class="col-md-6">
                <h4>Sender address</h4> <p>{{pickup.senderaddress}}</p>
                <h4>Reciever address</h4> <p>{{pickup.reciveraddress}}</p>
                <h4>Sender location</h4> <p>{{pickup.senderlocation}}</p>
                <h4>Reciever location</h4> <p>{{pickup.reciverlocation}}</p>
                <h4>Estimate Parcel Weight in Kg</h4> <p>{{pickup.parcel}}</p>
                <h4>status</h4> <p class="text-danger text-white mt-2">{{pickup.status}}</p>
                <h4>request_date</h4> <p>{{pickup.request_date}}</p>
            </div>
                {% endfor %}
                {% else %}
                <h4>Enter a Valid Tracking ID</h4>
                {% endif %}
                    
        </div>
    </div>

</div>

    {% endblock %}